---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  readability-identifier-naming,
  readability-function-size,
  performance-*
  
WarningsAsErrors: 'bugprone-*,cert-*'

CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
---