---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  readability-identifier-naming,
  readability-function-size,
  performance-*
  
WarningsAsErrors: 'bugprone-*,cert-*'

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
---